.foo {
  border: none;
  background-color: #eee !important;
  font-size: 15px;
  font-weight: 100 !important;
}
#pageDropDown {
  display: none;
}

.tablepage {
  overflow: scroll;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.status-color {
  padding: 3px;
  left: 0;
  top: 8px;
}

.status-title {
  top: -2px;
  left: 10px;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0 !important;
  color: #555;
}

/* .table {
  overflow: scroll !important;
} */

.table {
  border-collapse: collapse !important;
  overflow-x: scroll !important;
}

.thead,
.tbody {
  display: block !important;
}

.tbody {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 100vh !important;
}

.td,
.th {
  min-width: 100px !important;
  height: 25px !important;

  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 100px !important;
}

.table-pagination {
  overflow: scroll;
}
